@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    scroll-behavior: smooth;
  }

  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}

body,
html {
  background-color: black;

  scrollbar-color: rgb(255, 255, 255) rgb(250, 6, 6);
  overflow-x: hidden;
}
