@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@layer base {
  html,
  body {
    font-family: Pacifico, system-ui sans-serif;
    height: 100vh;
  }

  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}

#root {
  height: 100vh;
}
